.DS_Store
notebooks/.ipynb_checkpoints/MechanisticModel-checkpoint.ipynb
notebooks/.ipynb_checkpoints/LFADS_preprocessing_and_training-checkpoint.ipynb
notebooks/.ipynb_checkpoints/DecisionManifoldGeometry-checkpoint.ipynb
src/__pycache__/model.cpython-310.pyc
data/S6.pkl.gz
.gitignore
data/model_config_exp.yaml
src/__pycache__/dimensionality.cpython-310.pyc
src/__pycache__/geometry.cpython-310.pyc
src/__pycache__/plot_utils.cpython-310.pyc
